<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>走動圖/Archer/arrow 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{226, 1}, {170, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {170, 35}}</string>
			<key>sourceSize</key>
			<string>{170, 35}</string>
		</dict>
		<key>走動圖/Archer/arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {223, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {223, 35}}</string>
			<key>sourceSize</key>
			<string>{223, 35}</string>
		</dict>
		<key>走動圖/Archer/攻擊-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{222, 38}, {70, 77}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {70, 77}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Archer/攻擊-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{301, 108}, {70, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {70, 75}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Archer/攻擊-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{301, 38}, {68, 76}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 0}, {68, 76}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Archer/特效1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{80, 38}, {78, 61}}</string>
			<key>offset</key>
			<string>{14, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37, 16}, {78, 61}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Archer/特效1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{40, 38}, {80, 38}}</string>
			<key>offset</key>
			<string>{6, -5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28, 31}, {80, 38}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Archer/特效1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 38}, {81, 37}}</string>
			<key>offset</key>
			<string>{4, -5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26, 32}, {81, 37}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Archer/特效2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 127}, {124, 89}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {124, 89}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Archer/特效2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{398, 1}, {124, 90}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {124, 90}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Archer/走路-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{143, 112}, {63, 73}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 2}, {63, 73}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Archer/走路-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{92, 177}, {65, 72}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 3}, {65, 72}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Archer/走路-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{222, 110}, {63, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 1}, {63, 74}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Archer/走路-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{218, 175}, {68, 72}}</string>
			<key>offset</key>
			<string>{2, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 3}, {68, 72}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Archer/跳.png</key>
		<dict>
			<key>frame</key>
			<string>{{143, 38}, {72, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 77}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>Archer.png</string>
	</dict>
</dict>
</plist>
