<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>走動圖/Sword/技能-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 164}, {60, 66}}</string>
			<key>offset</key>
			<string>{-4, 5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {60, 66}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Sword/技能-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{397, 136}, {57, 77}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10, 0}, {57, 77}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Sword/技能-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{157, 93}, {72, 73}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {72, 73}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Sword/揮劍-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{318, 141}, {55, 77}}</string>
			<key>offset</key>
			<string>{-8, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {55, 77}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Sword/揮劍-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{397, 195}, {52, 77}}</string>
			<key>offset</key>
			<string>{-10, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 77}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Sword/揮劍-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{79, 157}, {67, 68}}</string>
			<key>offset</key>
			<string>{1, -5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 9}, {67, 68}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Sword/特效-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{149, 167}, {37, 44}}</string>
			<key>offset</key>
			<string>{-43, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 21}, {37, 44}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Sword/特效-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{232, 144}, {47, 57}}</string>
			<key>offset</key>
			<string>{-22, 5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 11}, {47, 57}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Sword/特效-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{331, 1}, {75, 89}}</string>
			<key>offset</key>
			<string>{-16, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 1}, {75, 89}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Sword/特效-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{422, 1}, {65, 82}}</string>
			<key>offset</key>
			<string>{-11, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18, 6}, {65, 82}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Sword/特效-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {120, 90}}</string>
			<key>offset</key>
			<string>{3, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {120, 90}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Sword/特效-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{239, 1}, {75, 90}}</string>
			<key>offset</key>
			<string>{-21, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 0}, {75, 90}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Sword/特效-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 1}, {114, 90}}</string>
			<key>offset</key>
			<string>{6, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 0}, {114, 90}}</string>
			<key>sourceSize</key>
			<string>{125, 90}</string>
		</dict>
		<key>走動圖/Sword/走路-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{318, 78}, {61, 77}}</string>
			<key>offset</key>
			<string>{5, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 0}, {61, 77}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Sword/走路-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 93}, {69, 76}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 1}, {69, 76}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Sword/走路-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{422, 68}, {66, 77}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {66, 77}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Sword/走路-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{79, 93}, {62, 76}}</string>
			<key>offset</key>
			<string>{5, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10, 1}, {62, 76}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
		<key>走動圖/Sword/跳躍.png</key>
		<dict>
			<key>frame</key>
			<string>{{239, 78}, {64, 77}}</string>
			<key>offset</key>
			<string>{3, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7, 0}, {64, 77}}</string>
			<key>sourceSize</key>
			<string>{72, 77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>Sword.png</string>
	</dict>
</dict>
</plist>
