<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>LabPicture/BOX2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2993}, {382, 283}}</string>
			<key>offset</key>
			<string>{-107, -358}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1726, 857}, {382, 283}}</string>
			<key>sourceSize</key>
			<string>{4048, 1280}</string>
		</dict>
		<key>LabPicture/LB-clean.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {4048, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {4048, 1280}}</string>
			<key>sourceSize</key>
			<string>{4048, 1280}</string>
		</dict>
		<key>LabPicture/LB-window.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1283}, {4048, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {4048, 1280}}</string>
			<key>sourceSize</key>
			<string>{4048, 1280}</string>
		</dict>
		<key>LabPicture/hole.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2565}, {426, 275}}</string>
			<key>offset</key>
			<string>{-580, -502}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1231, 1005}, {426, 275}}</string>
			<key>sourceSize</key>
			<string>{4048, 1280}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>LabPicture.png</string>
	</dict>
</dict>
</plist>
